{% assign images = include.images | split: ',' %}

{% if include.column == "auto" %}
{% assign column = 100.0 | divided_by: images.size %}
{% elsif include.column > 0 %}
{% assign column = 100.0 | divided_by: include.column %}
{% endif %}

{% assign customclass = include.customclass %}


<div class="row {{customclass}}">
    {% for image in images %}
    <div {% if column %} style="flex: {{ column }}%" {% else %} class="column" {% endif %}  >
        <img {% if images.size == 1 %}class="single"{% endif %}
            {% if image contains 'https://drive.google.com/'  %}
                src="{{ image }}"
            {% else %}
                src="{{ image | prepend: 'assets/img/' | relative_url }}"
                alt="{{ image | prepend: '/' | split: '/' | last }}"
            {% endif %}>
    </div>
    {% endfor %}
</div>

{% assign column = false %}
