<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
		<a href="{{ '/' | relative_url }}">
			<img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}
        <a class="site-title" aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
		</a>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        {% assign name_page = "" %}

        <li class="separator"> | </li>
        <li>
            <a class="clear" aria-label="Blog" title="Blog" href="/blog/">
                    Blog 
            </a>
        </li>

        <li class="separator"> | </li>
        <li>
            <a class="clear" aria-label="Blog" title="Blog" href="https://chameleontk.github.io/terminal-like-resume/">
                    CV
            </a>
        </li>

        <li class="separator"> | </li>
        <li>
            <a class="clear" aria-label="Blog" title="Blog" href="https://chameleontk.github.io/code-challanges/">
                    Code Challanges
            </a>
        </li>

        <li class="separator"> | </li>
        <li>
            <a href="https://webring.wonderful.software#chameleontk.github.io" title="วงแหวนเว็บ">
                <img
                  alt="วงแหวนเว็บ"
                  width="32"
                  height="32"
                  src="https://webring.wonderful.software/webring.black.svg"
                />
            </a>
        </li>

        
        <li class="separator"> | </li>
        <li>
            <a class="clear" aria-label="Search" title="Search" href="/search/">
                    <i class="fa fa-search" aria-hidden="true"></i>
                
            </a>
        </li>
        
        <li class="separator"> | </li>
        <li>
            <a class="clear" aria-label="Tags" title="Tags" href="/tags/">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                
            </a>
        </li>


        <!-- {% for page in site.pages %}
            {% unless page.title == null or page.hide or name_page contains page.title %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" aria-label="{{ page.title }}" title="{{ page.title }}" href="{{ page.url | relative_url }}">
                    {% if page.icon %} <i class="fa {{ page.icon }}" aria-hidden="true"></i>
                    {% else %} {{ page.title }} {% endif%}
                </a>
            </li>
            {% endunless %}
            {% assign name_page = page.title | append: name_page %}
        {% endfor %} -->
    </ul>

	</nav>
</header>
