---
layout: default
---

<style>
    table td{
        border: 0px;    
    }

    @media only screen and (max-width: 600px) {
        table td {
            display: block;
            
        }
    }
</style>

<div class="home">

    <div id="main" class="call-out"
         style="background-image: url('{{ site.header_feature_image | relative_url }}')">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>

    <table style="padding: 0px 25px;">
    <tr>
        <td>
            <img style="min-width: 250px;" alt="me" class="" src="/assets/img/me.png">
        </td>
        <td>
            <div>THIS IS ME</div>
            <b style="font-size:30px; font-weight: bold;">PAKAWAT NAKWIJIT</b>
            
            
            <div style="color: #717171;">
                <p>Hi, my name is <b>ภควัต นาควิจิตร</b>; Pakawat Nakwijit (please call me <b>TK</b>).</p>
                
                <p>I'm a unofficial PhD under the supervision of <a href="http://www.eecs.qmul.ac.uk/~mpurver/">Prof. Matthew Purver</a> at Queen Mary University of London. </p>

                <p>My main research interests lie in Computational Linguistics, particularly its applications in the Thai language 🇹🇭. Specifically, my current research focuses on the semantics of spelling variation in Thai. For example, considering <i>มาก</i> and <i>มว๊าก</i>—while both mean "a lot", the latter seems to be "a lot more" than the former one. Similarly, <i>มึง</i> and <i>เมิง</i> both literally serve as second-person pronouns, but the latter carries a relatively less aggressive tone. 
                    
                Moreover, I'm also interested in Mathematics, and Philosophy in general.</p>

                <p>Professionally, I work as a web developer and, more recently, as a project manager (?). I have contributed to the development of various web platforms, including an online magazine, a data-intensive platform designed to handle terabytes of data and generate extensive reports, and a mobile application leveraging web technologies. </p>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <b style="font-size:30px; font-weight: bold;">Publications</b>
            
            
            <div style="color: #717171;">
                <ul>
                    <li>
                        Pakawat Nakwijit, Attapol T Rutherford, Matthew Purver. 2024. <b>How do Encoder-only LMs Predict Closeness and Respect from Thai Conversations? </b> In Proceedings of the 28th Workshop on the Semantics and Pragmatics of Dialogue, Trento, Italy.
                    </li>

                    <li>
                        Pakawat Nakwijit, Mahmoud Samir, and Matthew Purver. 2023. <b>Lexicools at SemEval-2023 Task 10: Sexism Lexicon Construction via XAI.</b> In Proceedings of the 17th International Workshop on Semantic Evaluation (SemEval-2023), pages 23–43, Toronto, Canada. Association for Computational Linguistics.
                    </li>

                    <li>
                        Pakawat Nakwijit and Matthew Purver. 2022. <b>Misspelling Semantics in Thai.</b> In Proceedings of the Thirteenth Language Resources and Evaluation Conference, pages 227–236, Marseille, France. European Language Resources Association.
                    </li>
                    <li>
                        Juan Ye, Pakawat Nakwijit, Martin Schiemer, Saurav Jha, and Franco Zambonelli (2020). <b>Continual Activity Recognition with Generative Adversarial Networks</b>, ACM Transactions on Internet of Things, 2020.
                    </li>
                    <li>
                        Pakawat Nakwijit, and Paruj Ratanaworabhan (2015). <b>A Parser Generator using the Grammar Flow Graph.</b> In 2015 International Computer Science and Engineering Conference (ICSEC). IEEE.
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <b style="font-size:30px; font-weight: bold;">More about me</b>
            
            
            <div style="color: #717171;">
                <ul>
                    <li>Try-to-be Blogger (mostly written in Thai 🇹🇭).</li>
                    <li>Cat Slave 😾😾😹😾😾😹</li>
                    <li>Big Fan of The Big Bang Theory</li>
                    <li>Boardgame Enthusiasts; <a href="https://boardgamegeek.com/user/chameleontk">[[BGG account]]</a></li>
                </ul>
            </div>
        </td>
     </tr>
     
    </table>
    

</div>
