---
layout: default
---

<style>
    table td{
        border: 0px;    
    }

    @media only screen and (max-width: 600px) {
        table td {
            display: block;
            
        }
    }
</style>

<div class="home">

    <div id="main" class="call-out"
         style="background-image: url('{{ site.header_feature_image | relative_url }}')">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>

    <table>
    <tr>
        <td>
            <img style="min-width: 250px;" alt="me" class="" src="/assets/img/me.png">
        </td>
        <td>
            <div>THIS IS ME</div>
            <b style="font-size:30px">PAKAWAT NAKWIJIT</b>
            
            
            <div style="color: #717171;">
                <p>Hi, my name is <b>ภควัต นาควิจิตร</b>; Pakawat Nakwijit (please call me <b>TK</b>).</p>
                
                <p>I'm currently a PhD student under the supervision of <a href="http://www.eecs.qmul.ac.uk/~mpurver/">Prof. Matthew Purver</a> at Queen Mary University of London (start in September 2020). </p>

                <p>I'm interested in Natural Language Processing and its applications in Thai langauge 🇹🇭. Currently, I'm working on how to leverage the pre-trained language models that mostly trained with English for solving downstream tasks in Thai. Moreover, I'm also interested in Mathematics, and Philosophy in general.</p>

                <p>Before that, I worked as a web developer in a small company named Maxile co. ltd. I developed various kinds of website: an online magazine, an data-intensive site used to collecte TBs of data and generate hundreds of reports and also a mobile application based on web technology.</p>

                <p>In my spare time, I play a lot of boardgames <a href="https://boardgamegeek.com/user/chameleontk">[[BGG account]]</a> and enjoy sharing my passion through my own blog (mostly written in Thai 🇹🇭).</p>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <b style="font-size:30px">Publications</b>
            
            
            <div style="color: #717171;">
                <ul>
                    <li>Juan Ye, Pakawat Nakwijit, Martin Schiemer, Saurav Jha, and Franco Zambonelli (2020). <b>Continual Activity Recognition with Generative Adversarial Networks</b>, ACM Transactions on Internet of Things, 2020.</li>
                    <li>Nakwijit, P., & Ratanaworabhan, P. (2015). <b>A parser generator using the Grammar Flow Graph.</b> In 2015 International Computer Science and Engineering Conference (ICSEC). IEEE.</li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <b style="font-size:30px">More about me</b>
            
            
            <div style="color: #717171;">
                <ul>
                    <li>Cat slave 😾😾😹😾😾😹</li>
                    <li>Big fan of The Big Bang Theory</li>
                    <li>Boardgame enthusiasts</li>
                </ul>
            </div>
        </td>
     </tr>
     
    </table>
    

</div>
